DB_USER=root
DB_PASSWORD=tu_password
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=farmacia_db

ADMIN_USERNAME=admin
ADMIN_PASSWORD=cambia_esto

ENVIRONMENT=development
CORS_ORIGINS=http://localhost:3000,http://localhost:5173
SECRET_KEY=cambia_esta_clave_por_una_muy_larga